<script setup>
import { ref,reactive  } from 'vue'
import { Head, Link } from '@inertiajs/vue3';
import '../../css/main.css'
defineProps({ blog: Object })
const count = ref(0)
const classObject = reactive({
  active: false,
  'text-danger': false
})
const items = ref([{ message: 'Foo' }, { message: 'Bar' }])
function increment() {
    count.value++
    counter++
    if (count.value > 5) {
        classObject.active = true
        classObject['text-danger'] = true
    }
}
function keyup(e){
    console.log('tab')
}
</script>

<template>
    <Head title="Blog" />
    <div>
        <h1>Blog</h1>
        
        <Link
                :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                >Create</Link
            >
        <div v-for="item in blog">
            <h1>{{ item.title }}</h1>
            <p>{{ item.content }}</p>
            <Link :href="route('blog.edit',item.id)">Edit</Link>
            <Link :href="route('blog.delete',item.id)" method="post" as="button">delete</Link>
            <hr>
        </div>
        <button @click="increment" class="btn-primary">
            increment
        </button>
        <div :class="classObject">
            count : {{ count }}
        </div>
        <div>
            counter : {{ counter }}
        </div>
        <div v-if="count > 10">
            count lebih besar dari 10
        </div>
        <div v-else>
            count lebih kecil dari 10
        </div>
        <input type="text" @keyup.delete="keyup">
        <ul>
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </ul>
        <h1>heading</h1>
    </div>
</template>
