@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');
.main-test{
    background-color: #000000;
}
.active{
    color:blue
}
.btn-primary{
    background:  #4640DE;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: #fff; 
}
.btn-large{
    padding: 14px 27px;
}
.btn-small{
    padding: 10px 21px;
}