<script setup>
import { Head, Link } from '@inertiajs/vue3';
import { useForm } from '@inertiajs/vue3'
const props = defineProps({
    blog: Object
});
const form = useForm({
  title: props.blog.title,
  content: props.blog.content,
  id:props.blog.id
})

</script>

<template>
    <Head title="Blog" />
    <div>
        <h1>Edit Blog</h1>
        <Link
                :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                >Home</Link
            >
            <form @submit.prevent="form.post('/blog/update')">
                <input type="hidden" v-model="form.id">
                <!-- email -->
                <input type="text" v-model="form.title">
                <div v-if="form.errors.email">{{ form.errors.title }}</div>
                <input type="text" v-model="form.content">
                <div v-if="form.errors.email">{{ form.errors.content }}</div>
                <!-- submit -->
                <button type="submit" :disabled="form.processing">Create</button>
            </form>
    </div>
</template>
