<script setup>
import { Head, Link } from '@inertiajs/vue3';
import { useForm } from '@inertiajs/vue3'
const form = useForm({
  title: null,
  content: null,
})
</script>

<template>
    <Head title="Blog" />
    <div>
        <h1>Create Blog</h1>
        <Link
                :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                >Home</Link
            >
            <form @submit.prevent="form.post('/blog/store')">
                <!-- email -->
                <input type="text" v-model="form.title">
                <div v-if="form.errors.email">{{ form.errors.title }}</div>
                <input type="text" v-model="form.content">
                <div v-if="form.errors.email">{{ form.errors.content }}</div>
                <!-- submit -->
                <button type="submit" :disabled="form.processing">Create</button>
            </form>
    </div>
</template>
